h1{
    background-color:rgb(219, 168, 56);
    text-align: center;
}

body{
    background-color: rgb(128, 87, 0);
}

#miSuperTitulo{
    font-size: 50px;
}

.imagenesIntro{
    width: 280px;
    display: block;
}

a:hover{
    color: rgb(81, 210, 30);
    font-size: 20px;
    font-style: itoblique;
}

img:hover{
    width: 320px;
}