*{
    margin: auto;
}

p{
    margin: 40px;
    border: 2px solid rgb(0, 0, 0);
    padding: 100px;
}

h1{
    background-color:rgb(219, 168, 56);
    text-align: center;
}

body{
    background-color: rgb(128, 87, 0);
    text-align: center;
}

#miSuperTitulo{
    font-size: 50px;
}

.imagenesIntro{
    width: 280px;
    display: block;
}

a:hover{
    color: rgb(81, 210, 30);
    font-size: 20px;
    font-style: itoblique;
}

img:hover{
    width: 320px;
}
.texto{
    display: block;
}

.cuadro1{
    width: 10%;
    height: 10%;
    border: 2px solid black;
    padding: 2%;
    background-color: rgba(175, 37, 101);
    margin: 5%;

    position: fixed;
    top: 30%;
}

.cuadro2{
    width: 50%;
    height: 10%;
    border: 2px solid black;
    padding: 2%;
    background-color: rebeccapurple;
    margin: 5%;

    position: relative;
    top:20% ;
}
.cuadro3{
    width: 40%;
    height: 20%;
    border: 2px solid black;
    padding: 2%;
    background-color: pink;
    margin: 5%;

    position: static;
}
.cuadro4{
    width: 20%;
    height: 10%;
    border: 2px solid black;
    padding: 2%;
    background-color: rgba(139, 146, 35);
    margin: 5%;

    position: absolute;
}